<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mieszkania marzeń</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.18.1/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@2.18.1/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@2.18.1/dist/bootstrap-vue-icons.min.js"></script>

    <!-- <script src="//unpkg.com/date-fns@2.16.1"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/date-fns@2.16.1/index.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ==" crossorigin="anonymous"></script>

    <script src="//cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/handsontable@7.2.2/dist/handsontable.full.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/handsontable@7.2.2/dist/handsontable.full.css" rel="stylesheet" media="screen">
    <script src="https://cdn.jsdelivr.net/npm/@handsontable/vue@4.1.1/dist/vue-handsontable.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">O nas</h4>
          <p class="text-muted"><![CDATA[
            Jesteśmy grupą osób pomagających innym w znalezieniu idealnego mieszkania.
            Szukasz nowego lokum? Skontaktuj się z nami.
            ]]></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Kontakt</h4>
          <ul class="list-unstyled">
            <!--<li><a href="#" class="text-white">Follow on Twitter</a></li>-->
            <li><a href="https://fb.me/mieszkania.marzen.waw" class="text-white">Polub na Facebook-u</a></li>
            <li><a href="mailto:m4dream@protonmail.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
</svg>
          <strong>Formularz</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Formularz</h1>
      <p class="lead text-muted">Formularz jest w trakcie budowy.</p>
      <p>
        <a href="https://fb.me/mieszkania.marzen.waw" class="btn btn-primary my-2">Skontaktuj się z nami</a>
        <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
      </p>
    </div>
  </section>
  <section class="jumbotron text-center">
    <div id="app"></div>
  </section>
 </main>
    
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1055426794907633');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1055426794907633&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<script id="main" type="text/x-template">
  <div>
    <div>
      <b-tabs content-class="mt-3">
        <b-tab title="Info">
          <p>
          Codziennie publikujemy na naszym fanpage najciekawsze oferty mieskzań z Warszawy i okolic.
          Chcesz znaleźć coś fajnego? Obserwuj nas.
          </p>
        </b-tab>
        <b-tab :title="'Arkusz na dzień ' + today" active>
          <table border="1">
            <tr v-for="r in rows">
              <td v-for="cell in r">{{cell}}</td>
            </tr>
          </table>
          <hot-table :data="rows" :rowHeaders="true" :colHeaders="true"/>
          <pre>{{JSON.stringify(rows)}}</pre>
        </b-tab>
        <!-- <b-tab title="Disabled" disabled><p>I'm a disabled tab!</p></b-tab> -->
      </b-tabs>
    </div>
  </div>
</script>

<script type="text/javascript">
new Vue({
  template: '#main',
  el: '#app',
  components: {
    'hot-table': Handsontable,
  },
  data() {
    return {
      show: false,
      tab: 0,
      rows: [
          ['', 'Tesla', 'Mercedes', 'Toyota', 'Volvo'],
          ['2019', 10, 11, 12, 13],
          ['2020', 20, 11, 14, 13],
          ['2021', 30, 15, 12, 13]
        ],
    }
  },
  computed: {
    today() {
      return dateFns.format(new Date(), 'DD-MM-YYYY')
    },
  },
  mounted() {
    this.initLogic()
  },
  methods: {
    initLogic() {
      stepOne()
        .then(stepTwo)
        .then(stepFive.bind(this))

      function stepOne() {
        return fetch("creds.json", {
          "mode": "cors",
        }).then(toJson)
      }

      function toJson(r) {
        return r.json()
      }

      function stepTwo(credsJson) {
        var resp = fetch("https://api.baserow.io/api/user/token-auth/", {
          method: "post",
          "mode": "cors",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(credsJson || {
            "username": "m4marzen@protonmail.com",
            "password": "P4SSWORDIE"
          })
        })
          .then(toJson)
          // .then(r => (console.info(r), r));
        resp.then(stepThree)
        return resp.then(stepFour)
      }

      function stepThree(auth) {
        return fetch("https://api.baserow.io/api/database/fields/table/3904/", {
          "method": "GET",
          // "credentials": "include",
          "mode": "cors",
          "referrer": "https://baserow.io/database/2283/table/3903",
          "headers": {
            "Accept": "application/json",
            "Authorization": "JWT " + auth.token
          },
        }).then(toJson)
      }

      function stepFour(auth) {
        return fetch("https://api.baserow.io/api/database/views/grid/4076/?limit=80&offset=0&includes=field_options", {
          "method": "GET",
          // "credentials": "include",
          "mode": "cors",
          "referrer": "https://baserow.io/database/2283/table/3903",
          "headers": {
            "Accept": "application/json",
            "Authorization": "JWT " + auth.token
          },
        }).then(toJson)
      }

      function keysToRows(obj) {
        return Object.keys(obj).map(k => obj[k])
      }

      function stepFive(data) {
        // console.table(data.results)
        this.rows = data.results.map(keysToRows)
        // console.info('new rows', this.rows)
        // console.table(this.rows)
      }
    }
  },
})
</script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<!--<script src="https://getbootstrap.com/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>
